{{define "general/header"}}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/d0dff9bac1.js" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<title>{{.title}}</title>
<script>
  tailwind.config = {
    theme: {
      container: {
        center: true,
        padding: '2rem',
        width: '100%',
      },
      table: {},
    },
    variants: {
      extend: {
        backgroundColor: ['even'],
      },
    },
  };
</script>
<style>
  .group:hover .group-hover\:flex {
    display: flex !important;
  }
</style>
{{end}}